@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
:root {
  --primary: rgb(147, 86, 220);
  --secondary: rgb(255, 121, 217);
  --tertiary: rgb(153, 226, 208);
  --dark-gray: #e5e5e5;
  --light-gray: #f7f7f7;
  --title: "Shrikhand", cursive;
  --text: "Roboto", sans-serif ;
}

.img1 {
  background: url("../public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img2 {
  background: url("../public/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img3 {
  background: url("../public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img4 {
  background: url("../public/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --primary: rgb(147, 86, 220);
  --secondary: rgb(255, 121, 217);
  --tertiary: rgb(153, 226, 208);
  --dark-gray: #e5e5e5;
  --light-gray: #f7f7f7;
  --title: "Shrikhand", cursive;
  --text: "Roboto", sans-serif ;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--text);
}

a {
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
}

ul li {
  list-style: none;
}

.title {
  font-family: var(--title);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  z-index: 1;
  box-shadow: 5px 2px 5px 1px rgba(184, 184, 184, 0.8078431373);
}

.icon-container {
  font-size: larger;
}
.icon-container .heart-regular {
  background: white;
  position: absolute;
  transition: opacity 1000ms ease-in-out;
}
.icon-container .heart-regular:hover {
  opacity: 0;
  cursor: pointer;
}
.icon-container .heart-regular .heart-solid {
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  fill: transparent;
}

footer {
  background-color: rgb(54, 54, 54);
}
footer .content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
footer .content .title a {
  font-size: larger;
  color: white;
}
footer .content .title a:hover {
  color: var(--primary);
  transition: 0.5s;
}
footer .content ul {
  margin-top: 1rem;
}
footer .content ul li {
  list-style: none;
  line-height: 30px;
}
footer .content ul li a {
  color: white;
  font-weight: 300;
}
footer .content ul li a:hover {
  color: var(--secondary);
  border-bottom: solid 1px var(--secondary);
  transition: 0.5s;
}
footer .content ul li a i {
  margin-right: 1rem;
}
footer .content ul li a span {
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  footer .content {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
header .navhome {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navhome a {
  display: flex;
  justify-content: center;
  width: 100%;
}
header .navhome a img {
  width: 20rem;
}
header .place {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #E5E5E5;
  width: 100%;
  color: rgb(49, 49, 49);
}
header .place i {
  margin-right: 1rem;
}

main .reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #f7f7f7;
  height: 30vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 2rem;
}
main .reservation h1 {
  font-weight: bold;
  text-align: center;
}
main .reservation p {
  font-weight: 200;
  text-align: center;
}
main .reservation button {
  background: linear-gradient(-10deg, rgb(147, 86, 220) 5%, rgb(255, 121, 218));
  color: white;
  padding: 1rem;
  font-weight: 600;
  font-size: 14px;
  border-radius: 25px;
  border: none;
  box-shadow: 3px 3px 3px 1px rgba(184, 184, 184, 0.8078431373);
}
main .reservation button:hover {
  cursor: pointer;
  background: linear-gradient(-10deg, rgba(147, 86, 220, 0.85) 5%, rgba(255, 121, 218, 0.85));
  box-shadow: 5px 5px 5px 1px rgba(184, 184, 184, 0.8078431373);
}
main .functioning {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}
main .functioning .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
main .functioning .content .card_func {
  margin-top: 2rem;
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 400px;
  height: 50px;
  border-radius: 20px;
  padding: 0.5rem;
  background: #f7f7f7;
  box-shadow: 3px 3px 3px 1px rgba(184, 184, 184, 0.8078431373);
}
main .functioning .content .card_func:hover {
  background-color: rgba(255, 121, 217, 0.2);
}
main .functioning .content .card_func:hover .card_func-content i {
  color: var(--primary);
}
main .functioning .content .card_func span.target-list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: var(--primary);
  width: 30px;
  height: 30px;
  margin-left: -1rem;
  color: white;
  border-radius: 100%;
}
main .functioning .content .card_func .card_func-content {
  display: flex;
  width: 100%;
  padding-left: 2rem;
}
main .functioning .content .card_func .card_func-content i {
  display: flex;
  align-self: center;
  color: rgb(87, 87, 87);
}
main .functioning .content .card_func .card_func-content span {
  padding-left: 1.5rem;
  font-weight: 700;
}
main .restaurant {
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  background: #f7f7f7;
}
main .restaurant h1 {
  padding-left: 1rem;
}
main .restaurant .rest-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
main .restaurant .rest-content .card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 15px;
  width: 350px;
  height: 250px;
  box-shadow: 3px 3px 3px 1px rgba(184, 184, 184, 0.8078431373);
}
main .restaurant .rest-content .card .card-header {
  width: 100%;
}
main .restaurant .rest-content .card .card-header .img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
main .restaurant .rest-content .card .card-header .img span {
  position: relative;
  left: 70%;
  top: 10%;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 2px;
  font-weight: 400;
  color: green;
  background: var(--tertiary);
}
main .restaurant .rest-content .card .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
main .restaurant .rest-content .card .card-body .card-body_content {
  line-height: 22px;
}
main .restaurant .rest-content .card .card-body .card-body_content .card-title {
  font-weight: 700;
}
main .restaurant .rest-content .card .card-body .card-body_content .card-subtitle {
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  header .navhome a img {
    width: 14rem;
  }
  main .reservation {
    padding: 1rem 2rem 1rem 2rem;
    height: auto;
  }
  main .reservation button {
    margin-top: 1rem;
  }
  main .functioning .content {
    display: flex;
    flex-flow: wrap column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main .functioning .content .card_func {
    width: 100%;
  }
  main .restaurant .rest-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .restaurant .rest-content .card {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0;
  }
}
header .navmenu {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .navmenu a {
  position: absolute;
  top: 5%;
  left: 4%;
}
header .navmenu a i {
  color: rgb(58, 58, 58);
}
header .navmenu img {
  width: 20rem;
}

main.main-content .menu {
  margin-top: 70vh;
  width: 100%;
  background: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
main.main-content .menu .content {
  padding: 3rem;
  background: var(--light-gray);
}
main.main-content .menu .content .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main.main-content .menu .content .menu-card {
  padding-top: 1rem;
}
main.main-content .menu .content .menu-card h2 {
  font-size: 16px;
  font-weight: 300;
}
main.main-content .menu .content .menu-card hr {
  border-top: 2px solid var(--tertiary);
  border-radius: 5px;
  width: 40px;
  color: var(--tertiary);
}
main.main-content .menu .content .menu-card ul {
  padding-top: 1rem;
}
main.main-content .menu .content .menu-card ul .card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 5px 2px 5px 1px rgba(184, 184, 184, 0.8078431373);
}

.img-bg {
  background-attachment: fixed;
  width: 100%;
}

@media screen and (max-width: 767px) {
  header .navmenu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .navmenu a {
    font-size: small;
  }
  header .navmenu img {
    width: 14rem;
  }
}
.vignets {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari et Chrome */
  -o-animation: fadein 3s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-moz-keyframes fadein { /* sur Firefox */
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-o-keyframes fadein { /* sur Opera */
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=style.css.map */
