@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
}

ul li {
  list-style: none;
}

.title {
  font-family: "Shrikhand", cursive;
}

.subtitle {
  font-weight: 300;
}

.dark-shadow {
  text-shadow: #e5e5e5 2px 3px;
}

.light-shadow {
  text-shadow: rgb(34, 32, 32) 2px 1px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 1;
  min-height: 5rem;
  box-shadow: 5px 2px 5px 1px rgba(155, 155, 155, 0.8078431373);
}
header nav a {
  padding: 1rem;
  position: absolute;
}
header nav a:hover i {
  color: rgb(147, 86, 220);
}
header nav a i {
  font-size: x-large;
  color: #454545;
}
header nav img {
  margin: auto;
  padding: 0.5rem;
  width: 200px;
}

footer {
  background-color: rgb(54, 54, 54);
}
footer .content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
footer .content .title a {
  font-size: larger;
  color: white;
}
footer .content .title a:hover {
  color: rgb(147, 86, 220);
  transition: 0.5s;
}
footer .content ul {
  margin-top: 1rem;
}
footer .content ul li {
  list-style: none;
  line-height: 30px;
}
footer .content ul li a {
  color: white;
  font-weight: 300;
}
footer .content ul li a:hover {
  color: rgb(255, 121, 217);
  border-bottom: solid 1px rgb(255, 121, 217);
  transition: 0.5s;
}
footer .content ul li a span {
  font-weight: 500;
}
footer .content ul li a span.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

@media screen and (min-width: 1024px) {
  header nav a i {
    font-size: x-large;
  }
}
.place {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #E5E5E5;
  width: 100%;
  color: rgb(49, 49, 49);
}
.place span {
  position: relative;
}
.place span i {
  position: absolute;
  margin-left: -25px;
}
.place span:hover {
  color: rgb(147, 86, 220);
  cursor: text;
}

main .reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #f7f7f7;
  height: 40vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 2rem;
}
main .reservation h2 {
  font-weight: bold;
  text-align: center;
}
main .reservation p {
  font-weight: 200;
  text-align: center;
}
main .functioning {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}
main .functioning .content {
  display: flex;
  flex-flow: wrap column;
  justify-content: space-around;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
main .functioning .content .card_func {
  width: 100%;
}
main .restaurant {
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  background: #f7f7f7;
}
main .restaurant h2 {
  padding-left: 1rem;
}
main .restaurant .rest-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
main .restaurant .rest-content .card {
  width: 100%;
}

@media screen and (min-width: 768px) {
  main .functioning .content {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main .functioning .content .card_func {
    width: 25%;
  }
  main .restaurant .rest-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
  }
  main .restaurant .rest-content .card {
    width: 33%;
  }
}
main.main-content .menu {
  margin-top: -5rem;
  width: 100%;
  background: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: #f7f7f7;
}
main.main-content .menu .content {
  padding: 1.5rem;
}
main.main-content .menu .content .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main.main-content .menu .content .menu-card {
  padding-top: 2rem;
}
main.main-content .menu .content .menu-card h2 {
  font-size: 16px;
  font-weight: 300;
}
main.main-content .menu .content .menu-card hr {
  border-top: 2px solid rgb(153, 226, 208);
  border-radius: 5px;
  width: 40px;
  color: rgb(153, 226, 208);
}
main.main-content .menu .content .menu-card ul {
  padding-top: 1rem;
}
main.main-content .menu .content .btn_cmd {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

@media screen and (min-width: 1024px) {
  .menu {
    width: 100%;
  }
  .menu .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .menu .content .menu-header {
    width: 100%;
  }
  .menu .content .menu-card {
    width: calc(33.33% - 20px);
  }
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #454545;
  color: rgb(147, 86, 220);
  z-index: 5;
  animation: loader 2500ms cubic-bezier(0.6, 0.01, 1, 0.47);
  animation-fill-mode: none;
  animation-fill-mode: both;
}
.loader .lds-dual-ring {
  content: " ";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(147, 86, 220);
  border-color: rgb(147, 86, 220) transparent rgb(147, 86, 220) transparent;
  animation: lds-dual-ring 1.2s ease-in-out infinite;
}
.loader .lds-dual-ring_2 {
  content: " ";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin: 8px;
  border-radius: 50%;
  border: 5px solid rgb(255, 121, 217);
  border-color: rgb(255, 121, 217) transparent rgb(255, 121, 217) transparent;
  animation: lds-dual-ring_2 1.2s ease-in-out infinite;
}
.loader .lds-dual-ring_3 {
  content: " ";
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid rgb(153, 226, 208);
  border-color: rgb(153, 226, 208) transparent rgb(153, 226, 208) transparent;
  animation: lds-dual-ring_3 1.2s ease-in-out infinite;
}

@keyframes loader {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lds-dual-ring_2 {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes lds-dual-ring_3 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (min-width: 992px) {
  .vignets {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari et Chrome */
    -o-animation: fadein 1s; /* Opera */
  }
  .m-d1 {
    opacity: 0;
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
  }
  .m-d2 {
    opacity: 0;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  .m-d3 {
    opacity: 0;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @-moz-keyframes fadein { /* sur Firefox */
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @-o-keyframes fadein { /* sur Opera */
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
@media screen and (max-width: 991px) {
  .menu_btn {
    animation: btnfadein 1s ease;
    -moz-animation: btnfadein 1s; /* Firefox */
    -webkit-animation: btnfadein 1s; /* Safari et Chrome */
    -o-animation: btnfadein 1s; /* Opera */
  }
  .m-b1 {
    opacity: 0;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
  }
  .m-b2 {
    opacity: 0;
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
    animation-fill-mode: forwards;
  }
  .m-b3 {
    opacity: 0;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
    animation-fill-mode: forwards;
  }
  .m-b4 {
    opacity: 0;
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
    animation-fill-mode: forwards;
  }
  @keyframes btnfadein {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @-moz-keyframes btnfadein { /* sur Firefox */
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @-webkit-keyframes btnfadein { /* sur Safari et Chrome */
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @-o-keyframes btnfadein { /* sur Opera */
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
.img1 {
  background: url("../public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img2 {
  background: url("../public/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img3 {
  background: url("../public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img4 {
  background: url("../public/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-bg {
  max-width: 100%;
  max-height: 33rem;
  object-fit: cover;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-10deg, rgb(147, 86, 220) 5%, rgb(255, 121, 218));
  color: white;
  text-align: center;
  min-width: 10%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  font-weight: 600;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  height: 25px;
  box-shadow: 3px 3px 3px 1px rgba(184, 184, 184, 0.8078431373);
}
.button:hover {
  cursor: pointer;
  background: linear-gradient(-10deg, rgba(147, 86, 220, 0.85) 5%, rgba(255, 121, 218, 0.85));
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.8078431373);
}

.menu_btn {
  cursor: pointer;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  padding-left: 5px;
  background-color: #f7f7f7;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 5px 2px 5px 1px rgba(184, 184, 184, 0.8078431373);
  transition: 600ms ease-in-out;
}
.menu_btn .menu_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_btn .menu_text h3 {
  font-size: 16px;
}
.menu_btn .menu_text .menu_food {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_btn .menu_text .menu_description {
  font-size: 14px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}
.menu_btn .menu_price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 90%;
  padding-bottom: 10px;
  font-weight: bold;
  padding-right: 10px;
}
.menu_btn .menu_check {
  height: 100%;
  background: rgb(153, 226, 208);
  width: 4rem;
  margin-right: -4rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  visibility: hidden;
  transition-duration: 1500ms;
}
.menu_btn .menu_check i {
  display: flex;
  align-self: center;
  font-weight: bold;
  color: rgb(153, 226, 208);
  padding: 0.4rem;
  background: white;
  border-radius: 100%;
  font-size: larger;
}
.menu_btn:hover .menu_check {
  margin-right: 0rem;
  visibility: visible;
}
.menu_btn:hover .menu_check i {
  transform: rotate(-360deg);
  transition: 1.5s;
}

.icon-container {
  font-size: larger;
}
.icon-container_heart-regular {
  background: white;
  position: absolute;
  transition: opacity 1000ms ease-in-out;
}
.icon-container_heart-regular:hover {
  opacity: 0;
  cursor: pointer;
}
.icon-container_heart-solid {
  color: transparent;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
}

.card_func {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  width: 25%;
  height: 50px;
  border-radius: 20px;
  padding: 0.5rem;
  background: #f7f7f7;
  box-shadow: 3px 3px 3px 1px rgba(184, 184, 184, 0.8078431373);
}
.card_func:hover {
  cursor: pointer;
  background-color: rgba(255, 121, 217, 0.2);
}
.card_func:hover .card_func-content i {
  color: rgb(147, 86, 220);
}
.card_func span.target-list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgb(147, 86, 220);
  width: 30px;
  height: 30px;
  margin-left: -1rem;
  color: white;
  border-radius: 100%;
}
.card_func .card_func-content {
  display: flex;
  width: 100%;
  padding-left: 2rem;
}
.card_func .card_func-content i {
  display: flex;
  align-self: center;
  color: rgb(87, 87, 87);
}
.card_func .card_func-content span {
  padding-left: 1.5rem;
  font-weight: 700;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 15px;
  width: 100%;
  height: 250px;
  box-shadow: 3px 3px 3px 1px rgba(184, 184, 184, 0.8078431373);
}
.card:hover {
  transform: scale(1.02);
  transition: 0.5s;
  box-shadow: 3px 3px 3px 1px rgba(56, 56, 56, 0.8078431373);
}
.card:hover .img {
  filter: blur(1px);
}
.card .card-header {
  width: 100%;
}
.card .card-header .img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card .card-header .img span {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 2px;
  font-weight: 400;
  color: green;
  background: rgb(153, 226, 208);
}
.card .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.card .card-body .card-body_content {
  width: 95%;
  line-height: 22px;
}
.card .card-body .card-body_content .card-title {
  font-size: 16px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card .card-body .card-body_content .card-subtitle {
  font-size: 14px;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
