@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
.img1 {
  background: url("../public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img2 {
  background: url("../public/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img3 {
  background: url("../public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img4 {
  background: url("../public/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
}

ul li {
  list-style: none;
}

.title {
  font-family: "Shrikhand", cursive;
}

.subtitle {
  font-weight: 300;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  z-index: 1;
  box-shadow: 5px 2px 5px 1px rgba(184, 184, 184, 0.8078431373);
}

footer {
  background-color: rgb(54, 54, 54);
}
footer .content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
footer .content .title a {
  font-size: larger;
  color: white;
}
footer .content .title a:hover {
  color: rgb(147, 86, 220);
  transition: 0.5s;
}
footer .content ul {
  margin-top: 1rem;
}
footer .content ul li {
  list-style: none;
  line-height: 30px;
}
footer .content ul li a {
  color: white;
  font-weight: 300;
}
footer .content ul li a:hover {
  color: rgb(255, 121, 217);
  border-bottom: solid 1px rgb(255, 121, 217);
  transition: 0.5s;
}
footer .content ul li a i {
  margin-right: 1rem;
}
footer .content ul li a span {
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  footer .content {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
header .navhome {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navhome a {
  display: flex;
  justify-content: center;
  width: 100%;
}
header .navhome a img {
  width: 20rem;
}
header .place {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #E5E5E5;
  width: 100%;
  color: rgb(49, 49, 49);
}
header .place i {
  margin-right: 1rem;
}

main .reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #f7f7f7;
  height: 30vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 2rem;
}
main .reservation h1 {
  font-weight: bold;
  text-align: center;
}
main .reservation p {
  font-weight: 200;
  text-align: center;
}
main .functioning {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}
main .functioning .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
main .functioning .content .card_func {
  margin-top: 2rem;
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 400px;
  height: 50px;
  border-radius: 20px;
  padding: 0.5rem;
  background: #f7f7f7;
  box-shadow: 3px 3px 3px 1px rgba(184, 184, 184, 0.8078431373);
}
main .functioning .content .card_func:hover {
  background-color: rgba(255, 121, 217, 0.2);
}
main .functioning .content .card_func:hover .card_func-content i {
  color: rgb(147, 86, 220);
}
main .functioning .content .card_func span.target-list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgb(147, 86, 220);
  width: 30px;
  height: 30px;
  margin-left: -1rem;
  color: white;
  border-radius: 100%;
}
main .functioning .content .card_func .card_func-content {
  display: flex;
  width: 100%;
  padding-left: 2rem;
}
main .functioning .content .card_func .card_func-content i {
  display: flex;
  align-self: center;
  color: rgb(87, 87, 87);
}
main .functioning .content .card_func .card_func-content span {
  padding-left: 1.5rem;
  font-weight: 700;
}
main .restaurant {
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  background: #f7f7f7;
}
main .restaurant h1 {
  padding-left: 1rem;
}
main .restaurant .rest-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
main .restaurant .rest-content .card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 15px;
  width: 350px;
  height: 250px;
  box-shadow: 3px 3px 3px 1px rgba(184, 184, 184, 0.8078431373);
}
main .restaurant .rest-content .card .card-header {
  width: 100%;
}
main .restaurant .rest-content .card .card-header .img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
main .restaurant .rest-content .card .card-header .img span {
  position: relative;
  left: 70%;
  top: 10%;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 2px;
  font-weight: 400;
  color: green;
  background: rgb(153, 226, 208);
}
main .restaurant .rest-content .card .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
main .restaurant .rest-content .card .card-body .card-body_content {
  line-height: 22px;
}
main .restaurant .rest-content .card .card-body .card-body_content .card-title {
  font-weight: 700;
}
main .restaurant .rest-content .card .card-body .card-body_content .card-subtitle {
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  header .navhome a img {
    width: 14rem;
  }
  main .reservation {
    padding: 1rem 2rem 1rem 2rem;
    height: auto;
  }
  main .reservation button {
    margin-top: 1rem;
  }
  main .functioning .content {
    display: flex;
    flex-flow: wrap column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main .functioning .content .card_func {
    width: 100%;
  }
  main .restaurant .rest-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .restaurant .rest-content .card {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0;
  }
}
header .navmenu {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .navmenu a {
  position: absolute;
  top: 4%;
  left: 4%;
}
header .navmenu a i {
  color: rgb(58, 58, 58);
}
header .navmenu img {
  width: 20rem;
}

main.main-content .menu {
  margin-top: 70vh;
  width: 100%;
  background: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: #f7f7f7;
}
main.main-content .menu .content {
  padding: 3rem;
}
main.main-content .menu .content .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main.main-content .menu .content .menu-card {
  padding-top: 2rem;
}
main.main-content .menu .content .menu-card h2 {
  font-size: 16px;
  font-weight: 300;
}
main.main-content .menu .content .menu-card hr {
  border-top: 2px solid rgb(153, 226, 208);
  border-radius: 5px;
  width: 40px;
  color: rgb(153, 226, 208);
}
main.main-content .menu .content .menu-card ul {
  padding-top: 1rem;
}
main.main-content .menu .content .btn_cmd {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.img-bg {
  background-attachment: fixed;
  width: 100%;
}

@media screen and (max-width: 767px) {
  header .navmenu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .navmenu a {
    font-size: small;
  }
  header .navmenu img {
    width: 14rem;
  }
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #454545;
  z-index: 5;
  animation: loader 4000ms cubic-bezier(0.6, 0.01, 1, 0.47);
  animation-fill-mode: none;
  animation-fill-mode: both;
}
.loader .lds-dual-ring {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.loader .lds-dual-ring .title {
  color: rgb(255, 121, 217);
}
.loader .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(147, 86, 220);
  border-color: rgb(147, 86, 220) transparent rgb(147, 86, 220) transparent;
  animation: lds-dual-ring 1.2s ease-in-out infinite;
}

@keyframes loader {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.vignets {
  animation: fadein 3s ease-in-out;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari et Chrome */
  -o-animation: fadein 3s; /* Opera */
}

.m-d1 {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}

.m-d2 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.m-d3 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  90% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-moz-keyframes fadein { /* sur Firefox */
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  90% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-o-keyframes fadein { /* sur Opera */
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
button {
  background: linear-gradient(-10deg, rgb(147, 86, 220) 5%, rgb(255, 121, 218));
  color: white;
  padding: 1rem;
  font-weight: 600;
  font-size: 14px;
  border-radius: 25px;
  border: none;
  box-shadow: 3px 3px 3px 1px rgba(184, 184, 184, 0.8078431373);
}
button:hover {
  cursor: pointer;
  background: linear-gradient(-10deg, rgba(147, 86, 220, 0.85) 5%, rgba(255, 121, 218, 0.85));
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.8078431373);
}

.menu_btn {
  cursor: pointer;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  padding-left: 5px;
  background-color: #f7f7f7;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 5px 2px 5px 1px rgba(184, 184, 184, 0.8078431373);
  transition: 600ms ease-in-out;
}
.menu_btn .menu_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_btn .menu_text .menu_food {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_btn .menu_text .menu_description {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}
.menu_btn .menu_price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 90%;
  padding-bottom: 10px;
  font-weight: bold;
  padding-right: 10px;
}
.menu_btn .menu_check {
  height: 100%;
  background: rgb(153, 226, 208);
  width: 4rem;
  margin-right: -4rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  visibility: hidden;
  transition-duration: 1500ms;
}
.menu_btn .menu_check i {
  display: flex;
  align-self: center;
  font-weight: bold;
  color: rgb(153, 226, 208);
  padding: 0.4rem;
  background: white;
  border-radius: 100%;
  font-size: larger;
}
.menu_btn:hover .menu_check {
  margin-right: 0rem;
  visibility: visible;
}
.menu_btn:hover .menu_check i {
  transform: rotate(-360deg);
  transition: 1.5s;
}

.icon-container {
  font-size: larger;
}
.icon-container_heart-regular {
  background: white;
  position: absolute;
  transition: opacity 1000ms ease-in-out;
}
.icon-container_heart-regular:hover {
  opacity: 0;
  cursor: pointer;
}
.icon-container_heart-solid {
  color: transparent;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
}

/*# sourceMappingURL=style.css.map */
