:root {
    --primary: rgb(147, 86, 220);
    --secondary: rgb(255, 121, 217);
    --tertiary: rgb(153, 226, 208);
    --dark-gray: #e5e5e5;
    --light-gray: #f7f7f7;
    --title: 'Shrikhand', cursive;
    --text: 'Roboto', sans-serif
}