@import "../variables.scss";
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--text);
}

a {
    text-decoration: none;
    color: black;
}

.title {
    font-family: var(--title);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        box-shadow: 5px 2px 5px 1px #b8b8b8ce;
        z-index: 1;

        a {
            img {
                width: 16rem;
            }
        }
    }

    .place {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background: #E5E5E5;
        width: 100%;
        color: rgb(49, 49, 49);

        i {
            margin-right: 1rem;
        }
    }
}
footer{
    background-color: rgb(54, 54, 54);
    .content{
        display: flex;
        flex-direction: column;
        padding: 2rem;
       .title{
        a{
          font-size:larger;  
          color: white;
          &:hover{
            color: var(--primary);
            transition: 0.5s;
          }
        }
       }
        ul{
            margin-top: 1rem;
            li{
                list-style: none;
                line-height: 30px;
                a{
                    color: white;
                    font-weight: 300;
                     &:hover{
                        color: var(--secondary);
                        border-bottom: solid 1px var(--secondary);
                        transition: 0.5s;
                      }
                    i{
                        margin-right: 1rem;
                    }
                    span{
                        font-weight: 500;
                    }
                }
                
            }
        }
    }
}

@media screen and (max-width:767px) {
    header {
        nav{
            a{
                img{
                    width: 15rem;
            } 
            }
           
        }
    }
    footer{
        .content{
            padding: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}