@import "../variables.scss";
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: $text;
}

a {
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
}
ul{
    li{
        list-style: none;
} 

}
.title {
    font-family: $title;
}
.subtitle{
    font-weight: 300;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    nav{
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        z-index: 1;
        box-shadow: 5px 2px 5px 1px #b8b8b8ce;
    }

}
//Heart 

footer{
    background-color: rgb(54, 54, 54);
    .content{
        display: flex;
        flex-direction: column;
        padding: 2rem;
       .title{
        a{
          font-size:larger;  
          color: white;
          &:hover{
            color: $primary;
            transition: 0.5s;
          }
        }
       }
        ul{
            margin-top: 1rem;
            li{
                list-style: none;
                line-height: 30px;
                a{
                    color: white;
                    font-weight: 300;
                     &:hover{
                        color: $secondary;
                        border-bottom: solid 1px $secondary;
                        transition: 0.5s;
                      
                      }
                    i{
                        margin-right: 1rem;
                    }
                    span{
                        font-weight: 500;
                    }
                }
                
            }
        }
    }
}

@media screen and (max-width:767px) {
    footer{
        .content{
            padding: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}