header {
    .navhome {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            display: flex;
            justify-content: center;
            width: 100%;

            img {
                width: 20rem;
            }
        }

    }

    .place {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background: #E5E5E5;
        width: 100%;
        color: rgb(49, 49, 49);

        i {
            margin-right: 1rem;
        }
    }
}

main {
    .reservation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: #f7f7f7;
        height: 30vh;
        padding-top: 1rem;
        padding-bottom: 1rem;
        line-height: 2rem;

        h1 {
            font-weight: bold;
            text-align: center;
        }

        p {
            font-weight: 200;
            text-align: center;
        }
    }

    .functioning {
        padding: 2rem 1rem;
        margin-bottom: 2rem;

        .content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            .card_func {
                margin-top: 2rem;
                display: flex;
                align-items: center;
                width: 400px;
                height: 50px;
                border-radius: 20px;
                padding: 0.5rem;
                background: #f7f7f7;
                box-shadow: 3px 3px 3px 1px #b8b8b8ce;

                &:hover {
                    background-color: rgb(255, 121, 217, 0.2);

                    .card_func-content {
                        i {
                            color: $primary;
                        }
                    }
                }

                span.target-list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    background: $primary;
                    width: 30px;
                    height: 30px;
                    margin-left: -1rem;
                    color: white;
                    border-radius: 100%;
                }

                .card_func-content {
                    display: flex;
                    width: 100%;
                    padding-left: 2rem;

                    i {
                        display: flex;
                        align-self: center;
                        color: rgb(87, 87, 87);
                    }

                    span {
                        padding-left: 1.5rem;
                        font-weight: 700;
                    }
                }
            }
        }

    }

    .restaurant {
        padding-top: 2rem;
        padding-bottom: 1rem;
        width: 100%;
        background: #f7f7f7;

        h1 {
            padding-left: 1rem;
        }

        .rest-content {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 1rem;

            .card {
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
                margin-right: 1rem;
                border-radius: 15px;
                width: 350px;
                height: 250px;
                box-shadow: 3px 3px 3px 1px #b8b8b8ce;

                // border: solid 1px red;
                .card-header {
                    width: 100%;

                    .img {
                        width: 100%;
                        height: 180px;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;

                        span {
                            position: relative;
                            left: 70%;
                            top: 10%;
                            padding: 5px 10px;
                            font-size: 14px;
                            border-radius: 2px;
                            font-weight: 400;
                            color: green;
                            background: $tertiary;
                        }
                    }

                }

                .card-body {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem;

                    .card-body_content {
                        line-height: 22px;

                        .card-title {
                            font-weight: 700;
                        }

                        .card-subtitle {
                            font-weight: 300;
                        }
                    }

                    
                }
            }
        }
    }
}


// Phone
@media screen and (max-width:767px) {
    header {
        .navhome {
            a {
                img {
                    width: 14rem;
                }
            }
        }
    }

    main {
        .reservation {
            padding: 1rem 2rem 1rem 2rem;
            height: auto;

            button {
                margin-top: 1rem;
            }
        }

        .functioning {
            .content {
                display: flex;
                flex-flow: wrap column;
                padding-left: 1rem;
                padding-right: 1rem;

                .card_func {
                    width: 100%;
                }
            }
        }

        .restaurant {
            .rest-content {
                margin-top: 1rem;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .card {
                    width: 100%;
                    margin-bottom: 2rem;
                    padding: 0;
                }
            }
        }
    }
}
