.place {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #E5E5E5;
    width: 100%;
    color: rgb(49, 49, 49);

    i {
        margin-right: 1.5rem;
    }
}

main {
    .reservation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: #f7f7f7;
        height: 40vh;
        padding-top: 1rem;
        padding-bottom: 1rem;
        line-height: 2rem;

        h2 {
            font-weight: bold;
            text-align: center;
        }

        p {
            font-weight: 200;
            text-align: center;
        }
    }

    .functioning {
        padding: 2rem 1rem;
        margin-bottom: 2rem;

        .content {
            display: flex;
            flex-flow: wrap column;
            justify-content: space-around;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;

            .card_func {
                width: 100%;
            }
        }

    }

    .restaurant {
        padding-top: 2rem;
        padding-bottom: 1rem;
        width: 100%;
        background: #f7f7f7;

        h2 {
            padding-left: 1rem;
        }

        .rest-content {
            display: flex;
            // display: flex;
            flex-direction: column;
            justify-content: center;
            // flex-flow: row wrap;
            // justify-content: space-evenly;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 1rem;

            .card {
                width: 100%;
            
            }

        }
    }
}


// Tab et grand écran
@media screen and (min-width:768px) {
    main {
        .functioning {
            .content {
                display: flex;
                flex-direction: row;
                max-width: 100%;
                padding-left: 1rem;
                padding-right: 1rem;
                .card_func {
                    width: 25%;
                }
            }
        }
        .restaurant {
            .rest-content {
                margin-top: 1rem;
                margin-bottom: 1rem;
                display: flex;
                flex-flow:wrap row;
                justify-content: space-evenly;

                .card {
                    width: 33%;
                }
            }
        }
    }
}