header {
    .navmenu {
        display: flex;
        // flex-direction: row;
        align-items: center;
        justify-content: center;
        a {
            position: absolute;
            top: 5%;
            left: 4%;
            i{
                color: rgb(58, 58, 58);   
               }
        }
        img {
            width: 20rem;
        }

    }

}

main.main-content {
    .menu{
        margin-top: 70vh;
        width: 100%;
        // height: 100vh;
        background: white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        .content{
            padding: 3rem;
            background: var(--light-gray);
            .menu-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .menu-card{
                padding-top: 1rem;
                h2{
                    font-size: 16px;
                    font-weight: 300;
                }
                hr{
                    border-top: 2px solid var(--tertiary);
                    border-radius: 5px;
                    width: 40px;
                    color:  var(--tertiary);
                }
                ul{
                    padding-top: 1rem;
                  .card{
                    margin: 1rem;
                    padding: 1rem;
                    border-radius: 25px;
                    box-shadow: 5px 2px 5px 1px #b8b8b8ce;
                    // border: 1px solid black;
                }  
                }
               
            }
        }
    }
}
.img-bg{
    background-attachment: fixed;
    width: 100%;
}

// Phone
@media screen and (max-width:767px) {
    header {
        .navmenu {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                font-size: small;  
            }
            img {
                // padding-left: 1rem;
                width: 14rem;
            }
        }
    }
}