main.main-content {
    .menu{
        margin-top: -5rem;
        width: 100%;
        background: white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background: $light-gray;
        .content{
            padding: 3rem;
            .menu-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .menu-card{
                padding-top: 2rem;
                h2{
                    font-size: 16px;
                    font-weight: 300;
                }
                hr{
                    border-top: 2px solid $tertiary;
                    border-radius: 5px;
                    width: 40px;
                    color:  $tertiary;
                }
                ul{
                    padding-top: 1rem;
                }  
            }
            .btn_cmd{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .menu{
        display: flex;
        justify-content: center;
    }
}




