
  @media screen and (min-width:992px){

    .vignets {
        animation: fadein 1s ease-in-out;
        -moz-animation: fadein 1s; /* Firefox */
        -webkit-animation: fadein 1s; /* Safari et Chrome */
        -o-animation: fadein 1s; /* Opera */
    }
    .m-d1{
        -webkit-animation-delay: 0ms;
        animation-delay: 0ms;
    }
    .m-d2{
        -webkit-animation-delay: 0.5s;
        animation-delay:0.5s;
    }
    .m-d3{
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }
   
    @keyframes fadein {
        0% {
            opacity:0;
            transform: translateY(-30px)
            
        }
        90% {
            opacity:0;
            transform: translateY(-30px)
            
        }
        100% {
            opacity:1;
            transform: translateY(0px)
        }
    }
    @-moz-keyframes fadein { /* sur Firefox */
        0% {
            opacity:0;
            transform: translateY(-30px)
            
        }
        90% {
            opacity:0;
            transform: translateY(-30px)
            
        }
        100% {
            opacity:1;
            transform: translateY(0px)
        }
    }
    @-webkit-keyframes fadein { /* sur Safari et Chrome */
        from {
            opacity:0;
            transform: translateY(-30px)
            
        }
        to {
            opacity:1;
            transform: translateY(0px)
        }
    }
    @-o-keyframes fadein { /* sur Opera */
        from {
            opacity:0;
            transform: translateY(-30px)
            
        }
        to {
            opacity:1;
            transform: translateY(0px)
        }
    }

   }
  

   @media screen and (max-width:991px){
    .menu_btn{
        animation: btnfadein 1.5s ease;
        -moz-animation: btnfadein 1.5s; /* Firefox */
        -webkit-animation: btnfadein 1.5s; /* Safari et Chrome */
        -o-animation: btnfadein 1.5s; /* Opera */
    }
    .m-b1{
        // opacity: 0;
        -webkit-animation-delay: 0.5ms;
        animation-delay: 0.5ms;
    }
    .m-b2{
        // opacity: 0;
        -webkit-animation-delay: 1s;
        animation-delay:1s;
    }
    .m-b3{
        // opacity: 0;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
    }
    .m-b4{
        // opacity: 0;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
    }
    @keyframes btnfadein {
        0% {
            opacity:0;
            transform: translateY(-30px)
            
        }
        90% {
            opacity:0;
            transform: translateY(-30px)
            
        }
        100% {
            opacity:1;
            transform: translateY(0px)
        }
    }
    @-moz-keyframes btnfadein { /* sur Firefox */
        0% {
            opacity:0;
            transform: translateY(-30px)
            
        }
        90% {
            opacity:0;
            transform: translateY(-30px)
            
        }
        100% {
            opacity:1;
            transform: translateY(0px)
        }
    }
    @-webkit-keyframes btnfadein { /* sur Safari et Chrome */
        from {
            opacity:0;
            transform: translateY(-30px)
            
        }
        to {
            opacity:1;
            transform: translateY(0px)
        }
    }
    @-o-keyframes btnfadein { /* sur Opera */
        from {
            opacity:0;
            transform: translateY(-30px)
            
        }
        to {
            opacity:1;
            transform: translateY(0px)
        }
    }
   }