
  @media screen and (min-width:992px){

    .vignets {
        // opacity: 0;
        animation: fadein 1s ;
        -moz-animation: fadein 1s; /* Firefox */
        -webkit-animation: fadein 1s; /* Safari et Chrome */
        -o-animation: fadein 1s; /* Opera */
    }
    .m-d1{
        opacity: 0;
        -webkit-animation-delay: 0ms;
        animation-delay: 0ms;
        animation-fill-mode: forwards;
    }
    .m-d2{
        opacity: 0;
        -webkit-animation-delay: 0.5s;
        animation-delay:0.5s;
        animation-fill-mode: forwards;
    }
    .m-d3{
        opacity: 0;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
   
    @keyframes fadein {
        from {
            opacity:0;
            transform: translateY(-30px)
            
        }
        to {
            opacity:1;
            transform: translateY(0px)
        }
    }
    @-moz-keyframes fadein { /* sur Firefox */
        from {
            opacity:0;
            transform: translateY(-30px)
            
        }
        to {
            opacity:1;
            transform: translateY(0px)
        }
    }
    @-webkit-keyframes fadein { /* sur Safari et Chrome */
        from {
            opacity:0;
            transform: translateY(-30px)
            
        }
        to {
            opacity:1;
            transform: translateY(0px)
        }
    }
    @-o-keyframes fadein { /* sur Opera */
        from {
            opacity:0;
            transform: translateY(-30px)
            
        }
        to {
            opacity:1;
            transform: translateY(0px)
        }
    }

   }
  

   @media screen and (max-width:991px){
    .menu_btn{
        animation: btnfadein 1s ease;
        -moz-animation: btnfadein 1s; /* Firefox */
        -webkit-animation: btnfadein 1s; /* Safari et Chrome */
        -o-animation: btnfadein 1s; /* Opera */
    }
    .m-b1{
        opacity: 0;
        -webkit-animation-delay: 200ms;
        animation-delay: 200ms;
        animation-fill-mode: forwards;
    }
    .m-b2{
        opacity: 0;
        -webkit-animation-delay: 400ms;
        animation-delay:400ms;
        animation-fill-mode: forwards;
    }
    .m-b3{
        opacity: 0;
        -webkit-animation-delay: 600ms;
        animation-delay: 600ms;
        animation-fill-mode: forwards;
    }
    .m-b4{
        opacity: 0;
        -webkit-animation-delay: 800ms;
        animation-delay: 800ms;
        animation-fill-mode: forwards;
    }
    @keyframes btnfadein {
        from {
            opacity:0;
            transform: translateY(-30px)
            
        }
        to {
            opacity:1;
            transform: translateY(0px)
        }
    }
    @-moz-keyframes btnfadein { /* sur Firefox */
        from {
            opacity:0;
            transform: translateY(-30px)
            
        }
        to {
            opacity:1;
            transform: translateY(0px)
        }
    }
    @-webkit-keyframes btnfadein { /* sur Safari et Chrome */
        from {
            opacity:0;
            transform: translateY(-30px)
            
        }
        to {
            opacity:1;
            transform: translateY(0px)
        }
    }
    @-o-keyframes btnfadein { /* sur Opera */
        from {
            opacity:0;
            transform: translateY(-30px)
            
        }
        to {
            opacity:1;
            transform: translateY(0px)
        }
    }
   }