.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark;
    z-index: 5;
    animation: loader 4000ms cubic-bezier(0.6, 0.01, 1, 0.47);
    animation-fill-mode: none;
    animation-fill-mode: both;


    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid $primary;
        border-color: $primary transparent $primary transparent;
        animation: lds-dual-ring 1.2s ease-in-out infinite;
    }
 
}


@keyframes loader {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
